{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Swift Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    
 </head>

  <body>

    <div class="container">
     <div class="row">
      <div class="col-md-8 col-md-offset-2">
       <div class="panel-default">
        <div class="panel-heading">
           Swiftkind Tracker
        </div>
         <div class="panel-body">
       
       <p class="title"> {{ data.name }}</p> <br>
<b>Position: </b>{{ data.position }}

<br>
<b>Weekly Hours: </b>{{ data.weekly_hours}}
<hr>
<h4 class="left_a"> Weekly Report: </h4><a href="{% url 'add_report' data.id %}" class="btn btn-default btn-side ">ADD</a>

	{% for report in reports %}
  <br>
       
	<div class="jumbotron">
	    <p>
       <labe>Title: </labe>{{ report.title }}<br>
       <labe>Date: </labe>{{ report.track_date }}<br>
      </p>
	     <labe>What i did?: </labe>{{ report.question1 }}<br>
	     <labe>What to do?: </labe>{{ report.question2 }}<br>
	     <labe>Issues / Blocker: </labe>{{ report.question3 }}<br>
	     <labe>Weekly hours: </labe>{{ report.time_track }}<br>
    </div>
	{% endfor %}
         </div>
       </div>
      </div>
     </div>
      <!-- Fixed navbar -->
   {% include 'pages/navbar.html' %}
    {% block content %}

    {% endblock %}


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>

