body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    
}
.navbar-nav>li>a {
   float:center;
}

.panel-default>.panel-heading {
    margin-top: 50px;
    color: #fff;
    background-color: #074f8e;;
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 24px;
    text-align: center;
}

.panel-body {
    padding: 15px;
    background-color: #dedede;
}
.float{
    padding: 2px 2px 2px 2px;
    display:inline;
}
.right_a{
    float:right;
    border-style: solid ;
    border-width: 0 0 0 2px;
    border-color: #074f8e;
    padding: 4px;
}
.left_a{
    float:left;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    float: right;
}
.container .jumbotron, .container-fluid .jumbotron {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
}
.title{
    font-size: 40px; 
    margin-top: 2px;
    margin-bottom: 2px; 
    border-color: #074f8e;
    border-style: solid;
    border-width: 0 0 5px 0;
    
}

.
@media only screen and (min-width : 320px) {
        
}

    /* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

    /* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

 }

    /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

    /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

    /* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

    /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

    /* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

    /* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}